body {
    font-family: "Times New Roman", Times, serif;
    max-width: 700px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

ul.analysis, .analysis ul {
    list-style: none;
}

.analysis .highlighted {
    background: lavender;
}

.analysis .depth0 {
    font-size: 1.5em;
    font-weight: bold;
}

.analysis .depth1 {
    font-size: 1em;
    font-weight: normal;
}

.analysis .depth2 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
}

li li {
    background: lavender;
}

li li:nth-child(odd) {
    background: white;
}

li li ul {
    background-color: white;
}

index {
    display: inline-block;
    width: 10%;
    position: absolute;
    left: 0;
}

text {
    display: inline-block;
    width: 70%;
}

score {
    display: inline-block;
    width: 20%;

    float: right;
    text-align: right;
}
